:root {
  --color-primary: #3ec3db;
  --color-primary-4: rgba(62, 195, 219, 0.04);
  --color-primary-8: rgba(62, 195, 219, 0.08);
  --color-accent: #f26943;
  --color-warning: #ee5253;
  --color-orange: #f39f20;
  --color-green: #33c880;
  --color-teal: #01a3a4;
  --color-blue: #0075ff;
  --color-indigo: #341f97;
  --color-gray: #8395a7;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-2: rgba(0, 0, 0, 0.2);
  --color-black-9: rgba(0, 0, 0, 0.9);
  --color-black-12: rgba(0, 0, 0, 12);
  --color-white-6: rgba(255, 255, 255, 0.6);
  --color-white-8: rgba(255, 255, 255, 0.8);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-35: rgba(255, 255, 255, 0.35);
  --color-cetacean-blue: #0c173c;
  --color-cetacean-blue-40: rgba(12, 23, 60, 0.4);
  --color-cetacean-blue-70: rgba(12, 23, 60, 0.7);
  --color-cetacean-blue-16: rgba(12, 23, 60, 0.16);
  --color-cetacean-blue-50: rgba(12, 23, 60, 0.5);
  --color-cetacean-blue-25: rgba(12, 23, 60, 0.25);
  --color-cetacean-blue-4: rgba(12, 23, 60, 0.04);
  --color-spun-pearl: #a8a8b0;
  --color-spun-pearl-3: rgba(96, 97, 112, 0.3);
  --color-light-gray: #ced1d8;
  --color-silver: #c4c4c4;
  --color-mid-gray: #606170;
  --color-mid-gray-16: rgba(96, 97, 112, 0.16);
  --color-mid-gray-24: rgba(96, 97, 112, 0.24);
  --color-link-water: #f1f5fb;
  --color-ghost: #ced1d8;
  --color-primary-16: rgba(62, 195, 219, 0.16);
  --color-piction-blue: #34b7e1;
  --color-piction-blue-2: #2aaae7;
  --color-jaffa: #f26943;
  --color-jaffa-32: rgba(242, 105, 67, 0.32);
  --color-jaffa-8: rgba(242, 105, 67, 0.08);
  --color-flamingo: #e9552d;
  --color-concrete: rgba(234, 238, 244, 1);
  --color-shamrock: #2be18a;
  --color-shamrock-1: #33c880;
  --color-vivid-tangerine: #ff8888;
  --color-burnt-sienna: #ee5253;
  --color-koromiko: #ffc164;
  --color-buttercup: #f39f20;
  --color-dodger-blue: #36b7ff;
  --color-azure-radiance: #0075ff;
  --color-shamrock-32: rgba(51, 200, 128, 0.32);
  --color-warning-32: rgba(238, 82, 83, 0.32);
  --color-orange-32: rgba(243, 159, 32, 0.32);
  --color-primary-32: rgba(62, 195, 219, 0.32);
  --color-polar: #e0f4f7;
  --color-dove-gray: #626262;
  --color-persian-green-16: rgba(1, 163, 164, 0.16);
  --color-persian-green-32: rgba(1, 163, 164, 0.32);
  --color-concrete-2: #f3f3f3;
  --color-gallery: #ecebeb;
  --color-mercury: #e5e5e5;
  --color-viridian-green: #699576;
  --color-whisper: #e6e5f0;
  --color-concrete-3: #f2f2f2;
}
